$color-1: 	#fff;
$color-2: 	#000;

$color-3: 	#ef6c00;
$color-4: 	#fc831f;
$color-5: 	#d7d7d7;
$color-6: 	rgba(#fc831f, 0.2);
$color-7: 	#f44336;

$color-8: 	#283593;
$color-9: 	rgba(#283593, 0.5);
$color-90: 	#2638bb;

$color-10:  #4c4b4b;
$color-11: 	#8d8c8c;
$color-12: 	#b7b7b7;
$color-13: 	#d7d7d7;

$color-14: 	#f44336;
